/*classes*/
div{
    height: 70vh;
}
.welcome {
    text-align: center;
    font-family:sans-serif;
    background-image: url('../assets/backgrounds/h_img.jpg');

    color: white;
}
.about {
    text-align: center;
    font-family:sans-serif;
    font-size: small;
    height: 30vh;
}
.services {
    background-image: url('../assets/backgrounds/s_image.jpg');
    text-align:center;
    font-family:sans-serif;
    font-size:small;
    color: white;
    font-weight: bolder;
    height: 50vh;
    position: relative;
}
.centered {
   position: absolute;
   top: 20%;
}
.whatwedo {
    text-align: center;
    height: 30vh;
    
}
.portfolio {
    text-align: center;
    height: 40vh;
    font-weight: bolder;
}
.section1 {
    height: 20vh;
}
.section2 {
    height: 20vh;
}
.icons {
    height: 20vh;
    text-align: center;
    font-family: sans-serif;
    bottom: 30px;
}
.contact {
    background-image: url('../assets/backgrounds/c_image.jpg');
    height: 50vh;
}
